<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, FilaYouth, Championship, Cupa, Caritabil, Campionat Caritabil">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>FilaYouth - Spike for a cause</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img class="img-fulid" src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="lnr lnr-menu"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#hero-area">Acas캒</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#competition">Competitie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#competitionDetails">Detalii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#organizers">Organizatori</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a class="page-scroll" href="#hero-area">Acasa</a>
                </li>
                <li>
                    <a class="page-scroll" href="#competition">Competitie</a>
                </li>
                <li>
                    <a class="page-scroll" href="#competitionDetails">Detalii</a>
                </li>
                <li>
                    <a class="page-scroll" href="#organizers">Organizatori</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->

        </nav>
        <!-- Navbar End -->
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                        <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">SPIKE FOR A CAUSE - editia 2 - why it IS NOT WORKING?</h1>
                        <p class="lead wow fadeIn text-uppercase" data-wow-duration="1000ms" data-wow-delay="400ms">
                            Prima competi탵ie caritabil캒 cre탳tin캒 de voley</p>
                        <p class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            Fondurile vor fi direc탵ionate c캒tre biserica persecutat캒 din Pakistan </p>
                        <p class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            Competi탵ia este organizat캒 칥n parteneriat cu asocia탵ia Vocea Martirilor Rom칙nia
                        </p>
                        <a class="page-scroll scrollNextPage mt-5" href="#competition" class="btn btn-common wow fadeInUpr"
                            data-wow-duration="1000ms" data-wow-delay="400ms">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Competition Section Start -->
    <section id="competition" class="section">
        <div class="container-fluid">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Competi탵ie</h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>

            <ul class="nav nav-pills mb-3 align-items-center justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="teams-tab" data-toggle="pill" href="#teams" role="tab"
                        aria-controls="teams" aria-selected="true">Echipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="schedule-tab" data-toggle="pill" href="#schedule" role="tab"
                        aria-controls="schedule" aria-selected="true">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="score-tab" data-toggle="pill" href="#score" role="tab"
                        aria-controls="score" aria-selected="false">Rezultate</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                    <%- include('teams'); -%>
                </div>
                <div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                    <%- include('schedule'); -%>
                </div>
                <div class="tab-pane fade" id="score" role="tabpanel" aria-labelledby="score-tab">
                    <%- include('score'); -%>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Features Section Start -->
    <section id="competitionDetails" class="section" data-stellar-background-ratio="0.2">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Detalii</h2>
                <hr class="lines">
                <p class="section-subtitle">游끥Despre ce este aceast캒 competi탵ie? 游끥</p>
                <p class="section-subtitle">Ne-am g칙ndit cum putem s캒 aducem 칥mpreun캒 membri din comunitatea evanghelic캒
                    pentru a lega rela탵ii 탳i pentru a face un bine.</p>
                <p class="section-subtitle" style="font-weight: 800; color: #61D2B4;"> Dorim s캒 str칙ngem fonduri pentru
                    biserica
                    persecutat캒 din Pakistan. </p>
                <p class="section-subtitle" style="font-weight: 800; color: #61D2B4;">칉mpreun캒 cu Daniel Piu 탳i pornind
                    de la impulsul de a face ceva pentru
                    comunitatea cre탳tin캒 din Pakistan, a luat na탳tere campionatul de volley *Spike for a Cause*.</p>
                <p class="section-subtitle">Indiferent dac캒 e탳ti un juc캒tor de volei experimentat sau abia la 칥nceput,
                    te invit캒m s캒 ni te al캒turi la Turneul Spike for a Cause: Christian Charity Volleyball. 칉mpreun캒 vom
                    crea amintiri durabile, vom construi noi prietenii 탳i vom avea un impact pozitiv asupra comunit캒탵ii
                    noastre.</p>
                <p class="section-subtitle" style="font-weight: 800; color: #61D2B4;">Toate rezultatele echipei tale favorite vor fi postate in timp real pe aceast캒 platform캒!</p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                                <span class="icon">
                                    <i class="lnr lnr-calendar-full"></i>
                                </span>
                                <div class="text">
                                    <h4>Joac캒</h4>
                                    <p>Pre탵ul per juc캒tor este de 50 lei</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                                <span class="icon">
                                    <i class="lnr lnr-hand"></i>
                                </span>
                                <div class="text">
                                    <h4>Sus탵ine</h4>
                                    <p>Pre탵ul biletului unui sus탵inator este de 10 lei pentru cele 2 zile.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                                <span class="icon">
                                    <i class="lnr lnr-layers"></i>
                                </span>
                                <div class="text">
                                    <h4>칉nscriere</h4>
                                    <a target="_blank" href="<%= signupForm %>" style="color: #61D2B4"> Click aici </a>
                                    pentru a putea s캒 칥탵i 칥nscrii echipa
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                                <span class="icon">
                                    <i class="lnr lnr-thumbs-up"></i>
                                </span>
                                <div class="text">
                                    <h4>Sus탵ine Pakistan</h4>
                                    <p>Banii care vor fi d캒rui탵i vor fi directiona탵i c캒tre Pakistan, 칥n comunitatea
                                        evanghelic캒 local캒</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="show-box">
                        <img class="img-fulid" src="img/features/feature.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Blog Section -->
    <section id="organizers" class="section">
        <!-- Container Starts -->
        <div class="container-fluid">
            <div class="section-header">
                <h2 class="section-title">Organizatori</h2>
                <hr class="lines">
                <div class="copyright pb-5">
                    <p class="mt-5">Acest eveniment este organizat de c캒tre
                        <span class="font-weight-bold">
                            <a target="_blank" rel="nofollow"
                                href="https://www.instagram.com/tinerifiladelfia">FilaYouth</a>
                        </span>
                        칥n parteneriat cu
                        <span class="font-weight-bold">
                            <a target="_blank" rel="nofollow"
                                href="https://https://www.voceamartirilor.ro">Vocea Martirilor</a>
                        </span>
                    </p>
                    <a href="https://www.voceamartirilor.ro" target="_blank">
                        <img src="img/voice.jpg" alt="Vocea Martirilor Rom칙nia" style="width: 150px;">
                    </a>
                    <p class="section-subtitle">Urm캒re탳te-ne</p>
                    <a href="https://www.facebook.com/printretinerifiladelfia" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/tinerifiladelfia" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>

                <h2 class="section-title mt-5">Sponsori</h2>
                <hr class="lines">
                <div class="copyright">
                    <p class="mt-5">
                        Mul탵umim                          
                        <span class="font-weight-bold">sponsorilor</span>
                        care au f캒cut ca aceast캒 competi탵ie s캒 fie posibil캒!
                    </p>
                    <div class="sponsors-list row">
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://www.filadelfia.ro" target="_blank">
                                <img src="img/sponsors/fila.png" alt="Filadelfia">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://pavistor.ro" target="_blank">
                                <img src="img/sponsors/pavi.png" alt="Pavistor">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://www.annacori.com/ro/incaltaminte-si-genti-de-barbati-din-piele-naturala?fbclid=IwAR0Uo0AW5lwfcSL3dHWM0e0IR9wletIdgT8VxRG3OaLTsO5lQ6ozI6uk1Ak" target="_blank">
                                <img src="img/sponsors/denis_2.jpg" alt="Denis">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://www.annacori.com/ro" target="_blank">
                                <img src="img/sponsors/anna_cori_2.jpg" alt="Anna Cori">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://www.mesopotamia.ro" target="_blank">
                                <img src="img/sponsors/Meso.png" alt="Mesopotamia">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-6">
                            <a href="https://urspack.com" target="_blank">
                                <img src="img/sponsors/UrsPack.png" alt="UrsPack">
                            </a>
                        </div>
                        <div class="sponsor col-12 col-sm-12">
                            <a href="https://www.progressoneledilizia.com" target="_blank">
                                <img src="img/sponsors/Progresso.png" id="progresso-img" alt="Progresso Nel Edilizia">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog Section End -->

    <!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Footer Links -->
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <ul class="footer-links">
                        <li>
                            <a href="#hero-area" class="page-scroll">Acas캒</a>
                        </li>
                        <li>
                            <a href="#competition" class="page-scroll">Competitie</a>
                        </li>
                        <li>
                            <a href="#competitionDetails" class="page-scroll">Detalii</a>
                        </li>
                        <li>
                            <a href="#organizers" class="page-scroll">Organizatori</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>&copy; 2024
                            Designed by
                            <a target="_blank" rel="nofollow" href="https://uideck.com">UIdeck</a> & implemented by <a
                                target="_blank" rel="nofollow"
                                href="https://www.instagram.com/tinerifiladelfia">FilaYouth</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js"></script>
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/jquery.vide.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>