<div id="score mt-5">
    <% if(score.simalateEmptyResults === "true"){ %>
        <p class="section-subtitle text-center">
            Rezultatele live vor apărea în zilele când competiția se va desfășura
        </p>
      <% } else{ %>  
        <%- include('ranking'); -%>
        <%- include('fixtures'); -%>
     <% } %>
</div>

